<div class="card-container" *ngIf="isLoaded">
  <div class="background" (click)="closeCard()"> </div>
    <mat-card class="main">
      <h2>Information card</h2>
      <div class="mat-card-container">
        <img [src]="card.avatar_url" alt="avatar"/>
        <p>name:  {{ card.name}}</p>
        <p>login:  {{ card.login}}</p>
        <p>date created:  {{ card.created_at}}</p>
        <a href="{{card.html_url}}" target="_blank">
          <p>url: {{card.html_url}}</p>
        </a>
        <p>date last updated:  {{ card.updated_at}}</p>
      </div>
      <div class="button">
        <button mat-raised-button (click)="closeCard()">Close</button>
      </div>

    </mat-card>


</div>

